/* Navigation */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-left: 5vw;
  max-width: 85%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

nav li {
  padding: 0 10px;
}

.logo{
  width: 10%;
}

/* Header */
header{
  padding: 2vh 4vh 2vh 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Content */
main{
  color: white;
  height: 60vh;
  padding: 4vh 8vh 4vh 8vh;
  background-color: #495E57;
  overflow: hidden;
}

.main-content{
  padding: 4vh 8vh 4vh 8vh;
  width: 60vw;
  height: 50vh;
  max-width: 800px;
  margin: 0 auto;
}

.main-content h1{
  text-align: center;
}

.formDesc{
  text-align: center;
}

.main-content form {
  text-align: right;
  width: 70%;
  margin: 8vh auto;
}

label {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1em;
}

input{
  text-align: center;
  border-radius: 16px;
  width: 150px;
  margin-left: 20px;
}

select {
  text-align: center;
  width: 150px;
  margin-left: 20px;
  border-radius: 16px;
  background-color: #EDEFEE;
}

select option {
  width: 150px;
  border-radius: 0;
  background-color: #EDEFEE;
  border-bottom: 1px dashed gray;
}

main h1{
  color: #F4CE14;
}

/* Footer */
footer{
  height: 30vh;
  padding: 4vh 8vh 4vh 8vh;
  color: white;
  background-color: #7C7C7C;
  text-align: center;
}

.App {
  text-align: center;
}

.grid-footer-container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.grid-footer-item {
  background-color: #5c5c5c;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  height: 200px;
}

.grid-footer-item img{
  max-width: 100%;
  height: auto;
}
